{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h3>Profile list</h3>
<div class="row">
{% for user in users %}
    <div class="card m-3 col-4" style="max-width: 340px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'network/images/user_profile_default.jpg' %}" class="img-fluid rounded-start" alt="user_profile">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ user }}</h5>
                <p class="card-text"><a href="{% url 'profile' user %}">@{{ user }}</a></p>
                <p class="card-text"><small class="text-body-secondary">Last updated {{ user.last_activity }}</small></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
