{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
    <h4>New Post</h4>
    <form id="post-form" action="{% url 'add_post' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-secondary px-5">Post</button>
    </form>
{% endif %}

{% for post in posts %}
    {% include 'network/post.html' %}
{% endfor %}

{% endblock %} 

{% block script %}
    <script src="{% static 'network/likes.js' %}"></script>
{% endblock %}