{% load static %}

<div class="card m-3">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div> 
                    <img src="{% static 'network/images/user_profile_default.jpg' %}" class="rounded-circle" height="25" alt="User Avatar" loading="lazy">   
                    <a href="{% url 'profile' post.post_author.username %}">{{ post.post_author }}</a>
                </div>
            </div>
            <div class="col-10">
                <div>{{post.content}}</div>
                <div>{{post.created_at}}</div>
                <button id="like-btn-{{post.id}}">
                    {% if user in post.likes.all %}
                        <i class="fa-solid fa-heart"></i> <span id="likes-count-{{post.id}}">{{ post.likes.all.count }}</span>
                    {% else %}
                        <i class="fa-regular fa-heart"></i> <span id="likes-count-{{post.id}}">{{ post.likes.all.count }}</span>
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
</div>

  