{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{%if not user == profile %}
    {% if profile in user.follows.all %}
        <button id="follow-btn" type="button" class="btn btn-primary" data-username={{profile}}>Unfollow</button>
    {% else %}
        <button id="follow-btn" class="btn btn-primary" data-username={{profile}}>Follow</button>
    {% endif %}
{% endif%}


<div id="user_name">{{profile}}</div>
<div>Following: {{ profile.follows.all.count }}</div>
<div>Followers: {{ profile.followed_by.all.count }}</div>

<h4>posts:</h4>
{% for post in posts %}
    <div>{{post.post_author}}</div>
    <div>{{post.content}}</div>
    <div>{{post.created_at}}</div>
    <hr> 
{% endfor %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}