{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{%if not user == profile %}
    {% if profile in user.follows.all %}
        <button id="follow-btn" type="button" class="btn btn-primary" data-username={{profile}}>Unfollow</button>
    {% else %}
        <button id="follow-btn" class="btn btn-primary" data-username={{profile}}>Follow</button>
    {% endif %}
{% endif%}


<div id="user_name">{{profile}}</div>
<div>Following: {{ profile.follows.all.count }}</div>
<div>Followers: {{ profile.followed_by.all.count }}</div>

<h4>posts:</h4>
{% for post in posts %}
    {% if post.post_author.username == request.user.username %}
        <button id="edit-btn-{{ post.id }}" data-username="{{ profile }}">Edit</button>
        <div id="edit-formarea-{{ post.id }}" class="mb-3">
            <textarea id="edit-textarea-{{ post.id }}" class="form-control" rows="3">{{post.content}}</textarea>
            <button id="save-btn-{{ post.id }}" class="btn btn-primary">Save</button>
        </div>
    {% endif %}
    <div id="post-content-{{ post.id }}">{{post.content}}</div>
    <div>{{post.created_at}}</div>
    <hr> 
{% endfor %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}