
[id^="edit-formarea-"] {
    display: none;
}
[id^="like-btn-"] {
    border: none;
    background-color: transparent;
}
a {
    text-decoration: none;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-textarea {
    height: 100px;
    width: 100%;
}